* {
  padding: 0;
  margin: 0;
} 

body {
  background: #fff url(../images/header.gif) repeat-x;
  color: #333;
  font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.x-column-inner input.x-form-field {
    height: 20px;
}

img {
  border: none;
}
a {
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

#wrap {
  width: 100%;
  margin: 0px auto;
}
.clear {
  clear: both;
}

/* header */

#header {
  height: 90px;
}
#header h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  letter-spacing: -2px;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

/* right */

.right {
  /*float: right;*/
  width: 100%;
  padding: 0px 5px 5px 00px;
  /*border-left: 1px solid #aaa;*/
  text-align: justify;
}
.right h2, h3 a {
  padding: 5px 0 5px 0;
  color: #4F4F4F;
  font-size: 13px;
  font-weight: 100;
  /*letter-spacing: -2px;*/
}
#result a {
  margin-right: 5px;
}
#navigation {
  border-bottom: 0px solid #000;
}

#pager span, #pager-header span{
    font-size: 12px;
}

#pager,#pager-header {
  display: inline;
    font-size: 12px;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
}
#selection {
  padding: 10px 15px 0;
}
#selection li {
  list-style-type: none;
}
#docs {
    height: 100%;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

/* left */

.left {
  float: left;
  width: 100%;
  padding: 0 0 10px 10px;
}
.left h2 {
  clear: left;
  /*padding-top: 20px;*/
  color: #333;
  font-size: 13px;
}
#search input {
  width: 350px;
}
#calendar {
  width: 160px;
}
#search_help {
  font-size: 80%;
}
.tagcloud {
  padding: 10px 15px 0;
}
.tagcloud_item {
  float: left;
  display: block;
  margin-right: 4px;
  color: #6998f0;
}
.tagcloud_item:hover {
  color: #f00;
}

/* tagcloud */

a.tagcloud_size_0 {
font-size: 80%;
}
a.tagcloud_size_1 {
font-size: 90%;
}
a.tagcloud_size_2 {
font-size: 100%;
}
a.tagcloud_size_3 {
font-size: 110%;
}
a.tagcloud_size_4 {
font-size: 120%;
}
a.tagcloud_size_5 {
font-size: 130%;
}
a.tagcloud_size_6 {
font-size: 140%;
}
a.tagcloud_size_7 {
font-size: 150%
}
a.tagcloud_size_8 {
font-size: 160%;
}
a.tagcloud_size_9 {
font-size: 170%;
}
a.tagcloud_size_10 {
font-size: 180%;
}

div.sps_comment{
    background-color: yellow;
    border: 1px solid gray;
    padding: 10px;
    display: none;
}

.document {
    font-family: Times New Roman,Arial,Verdana,sans-serif;
}

.document-expired{
    background-image: url("../images/icons/old_small.png");
}

.document-expired p, .document-expired td, .document-early p, .document-early td {
    background: none repeat scroll 0 0 transparent !important;
}

.document-early{
    background-image: url("../images/icons/early_small.png");
}

div.document em{
    font-style: italic;

}

div.document strong{
    font-style: inherit;
    font-weight: bold;
}
div.document a{
    text-decoration: underline;
    color: blue;/* #0656A1; */
}

div.document p {
    /*margin-bottom: 0.5em;*/
    text-indent: 20px;
}

/*div.sps_comment_show a{
    text-decoration: underline;
    color: blue;
}*/

div.sps_comment_show em{
    font-style: italic;
}
div.sps_comment_show div.sps_comment{
    /* background-color: yellow;*/
    border: 0px solid gray;
    padding: 10px 10px 10px 30px;
    display: block;
    background: url("../images/comments_in_text.png") no-repeat scroll left center AliceBlue;
    margin-bottom: 5px;
    margin-top: 5px;
}

.icon-pencil{
    background-image:url(../images/pencil.png) !important;
}

.doc-close{
    background-image:url(../images/doc-close.png) !important;
}

/*
.simple_search_btn{
    background-image:url(../images/simple_search_btn.png) !important;
}
*/
.x-small-editor input.doc-search-btn {
    background-image: url("../images/search.png");
    background-position: 5px 1px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.btn-white{
    color: white;
}
.btn-search button {
    background-image: url("../images/btn_search.png") !important;
    background-repeat: no-repeat;
    color: white;
    padding-left: 20px !important;
}

.icon-save{
    background-image:url(../images/save_small.png) !important;
}

.doc-search{
    background-image:url(../images/search.png) !important;
}
.arrow-left{
    background-image:url(../images/left.png) !important;
}
.search-prev{
    background-image:url(../images/search_prev.png) !important;
}
.search-next{
    background-image:url(../images/search_next.png) !important;
}
.doc-search-up{
    background-image:url(../images/up.png) !important;
}
.doc-search-down{
    background-image:url(../images/down.png) !important;
}
.tree-node-expand{
    background-image:url(../images/plus.png) !important;
}
.tree-node-collapse{
    background-image:url(../images/minus.png) !important;
}

div.x-layout-collapsed{
    border:0px solid black;
}

.highlight { background: #D3E18A; }
.not_found { color:red; }

.vText {
   -moz-transform: rotate(-90deg) translate(0, 100%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(0, 100%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(0, 100%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(0, 100%);
   transform-origin: 0% 100%;
}


/*

.x-layout-cmini-west .x-layout-mini {
    background-clip: border-box;
    background-color: red;
    background-image: url("../images/default/layout/mini-right.gif");
    background-position: 0 -165px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
xtheme-gray.css (строка 1542)
.x-layout-cmini-west .x-layout-mini {
    top: 48%;
}
ext-al...eme.css (строка 4932)
.x-tool {
    background-image: url("../images/gray/panel/tool-sprites.gif");
}
xtheme-gray.css (строка 1381)
.x-layout-mini {
    cursor: pointer;
    display: block;
    height: 15px;
    left: -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 15px;
}*/

div.header-panel div.x-panel-body {
/*    background-image: url("../images/header_bg.png");*/
    background-size: 7px auto;
/*    color: white;*/
}

.roundStyle, .ext-gecko .x-form-text, x-form-field {
    border-radius: 8px 1px 1px 8px;
    border-style: solid;
    padding-left: 5px;
}

.roundStyle,.ext-webkit .x-form-text, x-form-field {
    border-radius: 8px 1px 1px 8px;
    border-style: solid;
    padding-left: 5px;
}

.roundStyle,.ext-ie .x-form-text, x-form-field {
    border-radius: 8px 1px 1px 8px;
    border-style: solid;
    padding-left: 5px;
}

.roundStyle,.ext-ie8 .x-form-text, x-form-field {
    border-radius: 8px 1px 1px 8px;
    border-style: solid;
    padding-left: 5px;
}

.PowderBlue{
    background-color: PowderBlue;
}

.document table {
    font-size: 1em;
}

.x-toolbar-vert .x-panel-ml{
    padding-left: 0px;
}
.x-toolbar-vert .x-panel-mr{
    padding-right: 0px;
}
.x-toolbar-vert .x-btn-icon .x-btn-small .x-btn-text{
    height: 24px;
    width: 24px;
}

.x-toolbar-vert .x-btn-text-icon .x-btn-small .x-btn-text {
    height: 24px;
    padding-left: 28px;
}

.pager-current{
    font-size: 12px;
}

.width_120px {
    width: 120px;
}
.ui-progressbar-value {
    background-image: url(../images/pbar-ani.gif) !important
}

.noCollapseTool div.x-panel-header-noborder {
    background-color: green;
    display: none;
}

.x-btn-over.popup_btn .x-btn-text {
    color: #333333;
    text-indent: 0px;
}

.popup_btn  .x-btn-text {
    text-indent: -3000px;
    color: transparent;
}

a.right-menu {
    background: url("../images/plus.png") no-repeat scroll 5% 55% ;
    border: 0px solid #444444;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    /*color: #FFFFFF;*/
    display: block;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 5px 10px 5px 30px;
    position: absolute;
    text-decoration: none;
    opacity: 1;
}


a.right-menu:hover {
    background: url("../images/plus.png") no-repeat scroll 05% 55% lightgray;
    /*font-size: 14px;*/
    opacity: 1;
}

a.active.right-menu {
    background: url("../images/minus.png") no-repeat scroll 5% 55% lightgray;
    opacity: 1;
}

a.active.plus.right-menu {
    background: url("../images/plus.png") no-repeat scroll 5% 55% lightgray;
    opacity: 1;
}

.right-menu-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #111111;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: none;
    max-height:200px;
    overflow: auto;
    opacity: 0.85;
    padding: 5px 5px 5px 10px;
    position: absolute;
}
.right-menu-content p {
    color: #CCCCCC;
    margin: 0 0 15px;
    padding: 0;
}
.right-menu-content a, .right-menu-content a:visited {
    border-bottom: 0px solid #9FC54E;
    color: #4F4F4F;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.right-menu-content a:hover, .right-menu-content a:visited:hover {
    border-bottom: 1px solid #9FC54E;
}

.azure{
    background-color: Azure;
}

.x-menu-item .x-form-field-wrap .x-form-trigger {
    height: 19px;
    margin-right: 2px;
    margin-top: 3px;
    padding-top: 2px;
    right: 0;
}

.x-menu-item .x-form-field-trigger-wrap {
    position: inherit;
}

.x-tree-node .grant.x-tree-selected {
    background: lightBlue;
}

.x-tree-node .grant {
    background-color: lightCyan;
}


.ext-search-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #D0D0D0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    max-height:500px;
    overflow: auto;
    /*opacity: 0.9;*/
    padding: 5px 5px 5px 10px;
    /*padding:15px;*/
    background-color: white;
    position: absolute;
}
.ext-search-content input[type=checkbox],.ext-search-content input[type=radio]{
    width: 5%;
}
.ext-search-content input,.ext-search-content select{
    width: 90%;
}

.search2_div{
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    margin-right: 100px;
    text-align: left;
}
.search2_div .tag{
    margin-right: 10px;
    background-color: #b5b8c8;
    white-space: nowrap;
}

.search2_div .tag .tag_close{
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.x-toolbar-cell .x-column-inner .x-form-checkbox {
    margin-top: 0px;
}


.mon_new{
    background: none repeat scroll 0% 0% #e1ffa5;
    text-align:right;
    width: 17px;
    padding: 3px;
}

.mon_edited{
    background: none repeat scroll 0% 0% #fff2aa;
    text-align:right;
    width: 17px;
    padding: 3px;
}

.mon_old{
    background: none repeat scroll 0% 0% #ffdad3;
    text-align:right;
    width: 17px;
    padding: 3px;
}

.mon_early{
    background: none repeat scroll 0% 0% #d2dced;
    text-align:right;
    width: 17px;
    padding: 3px;
}
.doc-mon{
    background-image:url(../images/doc_mon.png) !important;
}

div.odd_event > :nth-of-type(even)
{
    background-color: #ffffff;
}
div.odd_event > :nth-of-type(odd)
{
    background-color: lightblue;
}


.accordion {width: 100%;}

.accordion li {
    list-style: none;
}

.accordion li > input[type="radio"], .accordion li > input[type="radio"] + div.odd_event {
    display: none;
}

ul.accordion li > .accr {
    cursor: pointer;
    /*background: #e1e1e1;*/
    box-shadow: 0 0 4px #ABC inset;
    /*width: 80px;*/
    /*display: block;*/
}


.accordion li > input[type="radio"]:checked + .accr {
    background-color: lightblue;
}

.accordion li > .accr, .accordion li > input[type="radio"]:checked + div.odd_event {
    display: block;
    padding: 2px;
    outline: 1px solid #fff;}

.accordion li > input[type="radio"]:checked + div.odd_event {
    background: #fff; font: 13px normal helvetica, sans-serif;
}

.accr {
    background-color: lightgray;
    display: block;
    padding: 2px;
    outline: 1px solid #fff;
    font-weight: bolder;
}

.mon_selected{
    background-color: lightgreen;
}